@{.
    ViewBag.Title = "Another Try";
}

<div class="jumbotron">
    
    <h1>Trying one more time</h1>

    <body>
        <h3>My First Javascript</h3>
        <p>Click the button to see current date and time<p>
            <button type="button" onclick='myFunction1()' ;>Date</button>


        <p id="button"></p>


        <script>
            function myFunction1() {
                document.getElementById("button").innerHTML = Date();
            }


        </script>

        <p id="demo">A paragraph</p>

        <button type="button" onclick="myFunction2()" ;>Try It</button>

        <script>
            function myFunction2() {
                document.getElementById("demo").innerHTML = "change";
            }
        </script>
</div>